{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="bottom_bar_black"> <div id="main_container">
	<div id="header_lower">  <div id="header_content_lowerline">Обратная связь
	    <div id="header_content_lowerboxcontent">
    
            <form method="POST" style="color:rgba(241, 247, 240, 1)">
              {% csrf_token %} 
                    {{ form.as_p }}
              <input type="submit" value="отправить">
            </form> 

        </div>
	</div>

{% endblock content %}