{% extends "base.html" %}
{% load static %}

{% block aboutas %}
 <div id="about" class="about">
         <div class="container-fluid">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>О нас</h2>
                     <p>Давно известно, что читатель, глядя на макет страницы, отвлекается на её читаемое содержание. Суть использования Lorem Ipsum в том, что он имеет более-или-</p>
                     <a class="read_more" href="{% url "index" %}"> На главную</a>
                  </div>
               </div>
               <div class="col-md-6 pad_right0">
                  <div class="about_img ">
                     <figure><img src="{% static "images/about.png" %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock aboutas %}