{% extends "base.html" %}
{% load static %}

{% block index %}
      <div class="loader_bg">
         <div class="loader"><img src="{% static "images/loading.gif" %}" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div id="myNav" class="menu_sid">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <div class="menu_sid-content">
            <a href="#protien">Our Protien</a>
            <a href="#about">About Us</a>
            <a href="#testimonial">Testimonial</a>
            <a href="#contact">Contact Us</a>
         </div>
      </div>
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
         <div class="menu_sitbar">
            <ul class="menu">
               <li><button type="button" >
                  <img style="" onclick="openNav()" src="{% static "images/menu_icon.png" %}" alt="#"/>
                  </button>
               </li>
            </ul>
            <ul class="social_icon">
               <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
               <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
               <li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
         </div>
         <div class="header_full_bg">
            <div class="header_top">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="logo">
                           <a href="index.html"><img src="{% static "images/logo.png" %}" alt="#"/></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="banner">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-5">
                        <div class="banner_text">
                           <h1>Pro<br> Body Builder Protien</h1>
                           <a class="get_btn" href="#about" role="button" >FeedBack</a> <a class="get_btn" href="#contact" role="button">Read More</a>
                           
                        </div>
                     </div>
                     <div class="col-md-7">
                        <img class="bann_img" src="{% static "images/banner_ing.png" %}" alt="#"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- our protien  -->
      <div id="protien" class="protien_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Protien</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="protien">
                     <figure><img src="{% static "images/pro1.png" %}" alt="#"/></figure>
                     <h3>$400</h3>
                     <span> Variations  </span>
                     <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="protien">
                     <figure><img src="{% static "images/pro2.png" %}" alt="#"/></figure>
                     <h3>$400</h3>
                     <span>  Passages  </span>
                     <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="protien">
                     <figure><img src="{% static "images/pro3.png" %}" alt="#"/></figure>
                     <h3>$400</h3>
                     <span> Variations </span>
                     <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="protien">
                     <figure><img src="{% static "images/pro4.png" %}" alt="#"/></figure>
                     <h3>$400</h3>
                     <span> Pedicure </span>
                     <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end our protien  -->
      <!-- about -->
     
      <!-- end about -->
      <!-- growyhing -->

      <!-- end growyhing -->
      <!-- testimonial -->
      <div id="testimonial" class="testimonial">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Testimonial</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-5">
                  <div class="body_blu_img">
                     <figure><img src="{% static "images/tesr.png" %}" alt="#"/></figure>
                  </div>
               </div>
               <div class="col-md-7 pad_right0">
                  <div class="testimo_ban_bg">
                     <div id="testimo" class="carousel slide testimo_ban" data-ride="carousel">
                        <ol class="carousel-indicators">
                           <li data-target="#testimo" data-slide-to="0" class="active"></li>
                           <li data-target="#testimo" data-slide-to="1"></li>
                           <li data-target="#testimo" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                           <div class="carousel-item active">
                              <div class="container">
                                 <div class="carousel-caption relative2">
                                    <div class="row d_flex">
                                       <div class="col-md-11">
                                          <i><img src="{% static "images/costu.png" %}" alt="#"/></i>
                                          <span>Consectetur</span>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="container">
                                 <div class="carousel-caption relative2">
                                    <div class="row d_flex">
                                       <div class="col-md-11">
                                          <i><img src="{% static "images/costu.png" %}" alt="#"/></i>
                                          <span>Consectetur</span>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="carousel-item">
                              <div class="container">
                                 <div class="carousel-caption relative2">
                                    <div class="row d_flex">
                                       <div class="col-md-11">
                                          <i><img src="{% static "images/costu.png" %}" alt="#"/></i>
                                          <span>Consectetur</span>
                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <a class="carousel-control-prev" href="#testimo" role="button" data-slide="prev">
                           <i class="fa fa-angle-left" aria-hidden="true"></i>
                           <span class="sr-only">Previous</span>
                           </a>
                           <a class="carousel-control-next" href="#testimo" role="button" data-slide="next">
                           <i class="fa fa-angle-right" aria-hidden="true"></i>
                           <span class="sr-only">Next</span>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock index %}