{% extends "base.html" %}
{% load static %}

{% block readmore %}
      <div class="growyhing">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="body_img">
                     <figure><img src="{% static "images/body.png" %}" align="#"/></figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>Развивайте Свое тело с помощью Протеина</h2>
                     <a class="read_more" href="{% url "index" %}"> На главную</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock readmore %}