
  <form method="POST" action='create/'>
              {% csrf_token %} 
            <label for="Введите имя"></label>
            <input type="text" name='name'> 
              
            <input type="submit" name='Сохранить'>
    </form> 

{% if people %}
<h2>Список пользователей</h2>

<table>

<thead>
    <tr>
        <th width="10%">ID</th>
        <th width="30%">Имя</th>        
        <th width="50%">Действие</th>
    </tr>
</thead>



<tbody>
    {% for user in people %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>        
        <td><a href="edit/{{ user.id }}">Изменить</a> |
        <a href="delete/{{ user.id }}">Удалить</a></td>
        
    </tr>    
    {% endfor %}


{% endif %}





    



