<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body bgcolor="7cfcb8">
   
<h2 style="color:rgba(63, 14, 54, 1)"><strong>Задание 1:</strong></h2>
    <h2 style="color:rgba(173, 21, 64, 1)"> Имя пользователя: {{ user_name }} </h2>

<h2 style="color:rgba(63, 14, 54, 1)"><strong>Задание 2:</strong></h2>
    <h2 style="color:rgba(173, 21, 64, 1)"> Профиль пользователя: </h2>  
        <ul>
            <li>Имя: {{ name }}</li>
            <li>Возраст: {{ age }}</li>
            <li>Телефон: {{ phone }}</li>
            <li>Email: {{ email }}</li>
        </ul>

<h2 style="color:rgba(63, 14, 54, 1)"><strong>Задание 3:</strong></h2>
    <h2 style="color:rgba(173, 21, 64, 1)"> Профиль пользователя по ключам: </h2>  
        <ul>
            <li>Имя: {{ profile_data.name }}</li>
            <li>Возраст: {{ profile_data.age }}</li>
            <li>Телефон: {{ profile_data.phone }}</li>
            <li>Email: {{ profile_data.email }}</li>
        </ul>








</body>
</html>