<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body bgcolor="7cfcb8">

<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 1:</strong></h2>
    <h2 style="color:rgba(63, 14, 54, 1)"> Имя пользователя: {{ user_name }} </h2>
  
<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 2:</strong></h2>
    <h2 style="color:rgba(63, 14, 54, 1)"> Профиль пользователя: </h2>  
        <ul>
            <li>Имя: {{ name }}</li>
            <li>Возраст: {{ age }}</li>
            <li>Телефон: {{ phone }}</li>
            <li>Email: {{ email }}</li>
        </ul>

<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 3:</strong></h2>
    <h2 style="color:rgba(63, 14, 54, 1)"> Профиль пользователя по ключам: </h2>  
        <ul>
            <li>Имя: {{ profile_data.name }}</li>
            <li>Возраст: {{ profile_data.age }}</li>
            <li>Телефон: {{ profile_data.phone }}</li>
            <li>Email: {{ profile_data.email }}</li>
        </ul>

<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 4:</strong></h2>
    <h2 style="color:rgba(63, 14, 54, 1)"> Профиль пользователя по значению элементов: </h2>  
        <ul>
            <li>Имя: {{ prof_sps.0 }}</li>
            <li>Возраст: {{ prof_sps.1 }}</li>
            <li>Телефон: {{ prof_sps.2 }}</li>
            <li>Email: {{ prof_sps.3 }}</li>
        </ul>

<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 5:</strong></h2>
<h2 style="color:rgba(63, 14, 54, 1)">Сегодня: {% now 'd' %}.{% now 'm' %}.{% now 'y' %}, время {% now 'H' %}:{% now 'i' %}</h2>

    <h2 style="color:rgba(63, 14, 54, 1)">
        Сотрудник 
        {{ name_sps.0 }} 
        {% if experience.0 < 5 %}работает меньше 5ти лет{% endif %}</h2>  
    <h2 style="color:rgba(63, 14, 54, 1)">
        Сотрудник 
        {{ name_sps.1 }} 
        {% if experience.1 > 5 %}работает больше 5ти лет{% endif %}</h2> 

<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 7 (цикл):</strong></h2> 
        <ol>
            {% for list in user_list %} 
                <li>{{ list }}</li>
            {% endfor %} 
        </ol>


<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 8:</strong></h2> 
    <h2 style="color:rgba(63, 14, 54, 1)">Новые сотрудники</h2>  
        <ol>
        {% for name in user_list2 %}
            {% if name.experience <= 2 %}
                <li>{{name.name}}</li>
            {% endif %}                   
        {% endfor %}
        </ol>

<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 9:</strong></h2>
    <h2 style="color:rgba(63, 14, 54, 1)">{% include "homework/employees_list.html" %}</h2>   
        
<h2 style="color:rgba(173, 21, 64, 1)"><strong>Задание 10:</strong></h2>
        {% if tmpl_name %}
            <h2 style="color:rgba(63, 14, 54, 1)">переменная tmpl_name содержит имя - {{ tmpl_name }}</h2>
        {% else %} 
        <h2 style="color:rgba(63, 14, 54, 1)">{% include "homework/default_employees.html" %}</h2>
        {% endif %}
        
        







</body>
</html>

