{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<h1>Добро пожаловать в систему управления профилями пользователей</h1>
<p>Здесь вы можете:</p>
<ul>
    <li>Просматривать список всех пользователей</li>
    <li>Создавать новые профили пользователей</li>
    <li>Удалять существующих пользователей</li>
    <li>Управлять информацией о пользователях</li>
</ul>
<div style="margin-top: 30px;">
    <a href="{% url 'user_list' %}" class="btn">Посмотреть список пользователей</a>
    <a href="{% url 'create_profile' %}" class="btn" style="margin-left: 10px;">Создать профиль</a>
</div>
{% endblock %}