{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Система управления пользователями{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static "style.css" %}"> 
    
    
</head>
<body>
    <div class="container fade-in">
        <nav class="nav">
            <a href="{% url 'index' %}">🏠 Главная</a>
            <a href="{% url 'user_list' %}">👥 Пользователи</a>
            <a href="{% url 'create_profile' %}">➕ Добавить</a>
        </nav>
        
        {% block content %}{% endblock %}
    </div>
    
    <a href="{% url 'create_profile' %}" class="floating-btn">➕</a>
    
    <script src={% static "script.js" %}></script>

</body>
</html>