
    <h2 style="color:rgb(128, 5, 3)">Задание 1</h2>

    <form method="POST" style="color:rgba(13, 128, 3, 1)">
            {% csrf_token %} 
                {{ form.as_p }}
            <input type="submit" value="Send">
    </form> 
    <hr>

<div>
    <h3>
        <a href="{% url "work2" %}">посмотреть задание 2</a>
    </h3>
</div>
<div>
    <h3>
        <a href="{% url "work3" %}">посмотреть задание 3</a>
    </h3>
</div>
<div>
    <h3>
        <a href="{% url "work4" %}">посмотреть задание 4</a>
    </h3>
</div>



